@using P4.Parks.Dtos;
@using P4.ParkingLot.Dtos;
@using System.Text;
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.Title = L("BusinessDetails");
    ViewBag.ActiveMenu = "停车记录";
    var parks = ViewBag.Parks as List<ParkDto> ?? new List<ParkDto>();
    var channels = ViewBag.Channel as List<ParkChannelDto> ?? new List<ParkChannelDto>();
}

@section styles
{
    <link href="~/assets/css/bootstrapSwitch.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/chosen.css" />
    <style type="text/css">
        .SelectBG {
            background-color: #f00;
        }
    </style>
}
@section scriptsindex{
    <script src="~/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/assets/global/plugins/bootstrap-select/i18n/defaults-zh_CN.min.js"></script>
    <script src="~/assets/js/chosen.jquery.min.js"></script>
}
<div class="row" style="margin:10px 0">
    <table>
        <tbody>
            <tr>
                <td width="80px">区域：</td>
                <td width="200px">
                    <div class="row">
                        <div class="col-xs-8 col-sm-11">
                            <div class="input-group">
                                <input class="form-control date-picker" id="RegionName" type="text">
                            </div>
                        </div>
                    </div>
                </td>
                <td width="80px">车牌号：</td>
                <td width="200px">
                    <div class="row">
                        <div class="col-xs-8 col-sm-11">
                            <div class="input-group">
                                <input class="form-control date-picker" id="PlateNumber" type="text">
                            </div>
                        </div>
                    </div>
                </td>
                <td width="80px">停车场：</td>
                <td width="200px">
                    <div class="row">
                        <div class="col-xs-8 col-sm-11">
                            <div class="input-group">
                                <select class="chosen-select" id="ParkId" style="width:150px;">
                                    <option value="0">全部</option>
                                    @foreach (var park in parks)
                                    {
                                        <option value="@park.Id">@park.ParkName</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </td>
                <td width="80px">进场通道：</td>
                <td width="200px">
                    <div class="row">
                        <div class="col-xs-8 col-sm-11">
                            <div class="input-group">
                                <select class="chosen-select" id="InChannelId" style="width:150px;">
                                    <option value="0">全部</option>
                                    @foreach (var channel in channels.Where(u => u.ChannelDirection == "1"))
                                    {
                                        <option value="@channel.Id">@channel.ChannelName</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </td>
                <td width="80px">出场通道：</td>
                <td width="200px">
                    <div class="row">
                        <div class="col-xs-8 col-sm-11">
                            <div class="input-group">
                                <select class="chosen-select" id="OutChannelId" style="width:150px;">
                                    <option value="0">全部</option>
                                    @foreach (var channel in channels.Where(u => u.ChannelDirection == "2"))
                                    {
                                        <option value="@channel.Id">@channel.ChannelName</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </td>

                <td width="80px">停车类型：</td>
                <td width="200px">
                    <div class="row">
                        <div class="col-xs-8 col-sm-11">
                            <div class="input-group">
                                <select class="chosen-select" id="CarType" style="width:150px;">
                                    <option value="0">全部</option>
                                    <option value="1">临时车</option>
                                    <option value="2">包月车</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="80px">停车状态：</td>
                <td width="200px">
                    <div class="row">
                        <div class="col-xs-8 col-sm-11">
                            <div class="input-group">
                                <select class="chosen-select" id="StopStatus" style="width:150px;">
                                    <option value="0">全部</option>
                                    <option value="1">停车中</option>
                                    <option value="2">已出场</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </td>
                <td width="80px"><label for="id-date-picker-1">入场时间：</label></td>
                <td width="190px">
                    <div class="row">
                        <div class="col-xs-8 col-sm-11">
                            <div class="input-group">
                                <input class="form-control date-picker" id="operateDateBegin" type="text" data-date-format="yyyy-mm-dd" readonly autocomplete="off">
                                <span class="input-group-addon">
                                    <i class="icon-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </td>
                <td style="text-align: center;">到&nbsp;&nbsp;</td>
                <td width="190px">
                    <div class="row">
                        <div class="col-xs-8 col-sm-11">
                            <div class="input-group">
                                <input class="form-control date-picker" id="operateDateEnd" type="text" data-date-format="yyyy-mm-dd" readonly autocomplete="off">
                                <span class="input-group-addon">
                                    <i class="icon-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </td>

                <td style="text-align: right;">
                    <button type="button" id="btnSearch" data-loading-text="Loading..." class="btn btn-sm btn-primary" autocomplete="off">
                        搜索
                    </button>

                </td>

            </tr>
        </tbody>
    </table>
</div>

<div style="clear:both;"></div>
<div id="grid-pager"></div>
<table id="grid-table"></table>
<script src="~/assets/js/jquery-2.0.3.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        if (window.MenuType == 'Park') {
            window.MenuType = true;
        } else {
            window.MenuType = false;
        }

        var myDate = new Date();
        myDate.toLocaleDateString();
        var operateDateBegin = myDate.getFullYear() + "-"
            + ((myDate.getMonth() + 1) < 10 ? ("0" + (myDate.getMonth() + 1).toString()) : (myDate.getMonth() + 1)) + "-"
            + (myDate.getDate() < 10 ? ("0" + myDate.getDate().toString()) : myDate.getDate());
        var operateDateEnd = myDate.getFullYear() + "-"
            + ((myDate.getMonth() + 1) < 10 ? ("0" + (myDate.getMonth() + 1).toString()) : (myDate.getMonth() + 1)) + "-"
            + (myDate.getDate() < 10 ? ("0" + (myDate.getDate()).toString()) : myDate.getDate());
        $('#operateDateBegin').val(operateDateBegin + " 00:00");
        $('#operateDateEnd').val(operateDateEnd + " 23:59");


        $('#operateDateBegin').datetimepicker({
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            linkFormat: "yyyy-mm-dd hh:ii",
            format: 'yyyy-mm-dd hh:ii'
        });

        $('#operateDateEnd').datetimepicker({
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            linkFormat: "yyyy-mm-dd hh:ii",
            format: 'yyyy-mm-dd hh:ii'
        });

        $('.chosen-select').chosen();
    });

    $('#btnSearch').on('click', function () {
        if (window.MenuType == 'Park') {
            window.MenuType = true;
        } else {
            window.MenuType = false;
        }

        jQuery('#grid-table').jqGrid('setGridParam', {
            //escape()---中文转码
            // url: "../System/GetOperFunction?name=" + escape(arrayToJson(dataname).toString()),
            ajaxSelectOptions: { type: "GET", async: false },
            ajaxGridOptions: { type: "POST", async: false },
            url: '../ParkingLot/GetParkRecordList',
            datatype: 'json',
            postData:
            {
                'PlateNumber': $('#PlateNumber').val(),
                'StartTime': $('#operateDateBegin').val(),
                'EndTime': $('#operateDateEnd').val(),
                'ParkId': $("#ParkId").val(),
                'InChannelId': $("#InChannelId").val(),
                'OutChannelId': $("#OutChannelId").val(),
                'CarType': $("#CarType").val(),
                'StopStatus': $("#StopStatus").val(),
                'RegionName': $("#RegionName").val(),
                'filters': null
            },
            page: 1
        }).trigger('reloadGrid');
    });

    $('#exportButton').on('click', function () {
        var RegionId = $('#RegionId').val();
        var ParkId = $('#ParkId').val();
        var BerthsecId = $('#BerthsecId').val();
        var BerthNumber = $('#BerthNumber').val();
        var PlateNumber = $('#PlateNumber').val();
        var operateDateBegin = $('#operateDateBegin').val();
        var operateDateEnd = $('#operateDateEnd').val();
        var StopType = $('#StopType').val();
        var PayStatus = $('#PayStatus').val();
        window.location.href = "../StaticReport/ExportBusinessDetails?RegionId=" + RegionId + "&ParkId=" + ParkId
            + "&BerthsecId=" + BerthsecId + "&BerthNumber=" + BerthNumber + "&PlateNumber=" + PlateNumber
            + "&operateDateBegin=" + operateDateBegin + "&operateDateEnd=" + operateDateEnd + "&StopType=" + StopType + "&PayStatus=" + PayStatus;

    });
</script>
@section scriptsgrid
{
    function PicFormatter(cellvalue, options, rowdata) {
    return '<a href="' + rowdata.PicPath + '" target="_blank" id="colorbox"><img src="' + rowdata.PicPath + '" id="img' + rowdata.Id + '" style="width:50px;height:50px;" /></a>';
    }
    $(grid_selector).jqGrid({
    ajaxSelectOptions: { type: "GET", async: false },
    ajaxGridOptions: { type: "POST", async: false },
    url: '../ParkingLot/GetParkRecordList',
    datatype: "json",
    mtype: "post",
    loadError: function (xhr, status, error) { alert(status + " loading data of " + $(this).attr("id") + " : " + error); },
    shrinkToFit: false,
    autowidth: true,
    height: 'auto',
    colNames: ['Id','停车编号','区域', '场地名称','停车类型', '车牌号码', '停车时长', '应收费用', '实收费用', '优惠费用', '订单状态', '驶入时间',
    '驶入通道','驶出时间','驶出通道'],
    colModel: [
    { name: 'OrderId', index: 'OrderId', sorttype: "int", hidden: true,sortable:false },
    { name: 'OrderNo',  index: 'OrderNo',editable: false,search: false,sortable:false,key:true},
    { name: 'RegionName', editable: false, index: 'RegionName', search: false,hidden:false,sortable:false },
    { name: 'ParkName', index: 'ParkName', editable: false,hidden:false,sortable:false },
    { name: 'CarType', index: 'CarType',editable: false,hidden:false,sortable:false },
    { name: 'PlateNumber', editable: false, hidden:false, index: 'PlateNumber', width: 80 ,sortable:false,formatter:PlateNumber },
    { name: 'StopTimeStr', editable: false, width: 80, index: 'StopTimeStr',sortable:false },
    { name: 'PayableAmount', editable: false, width: 80, index: 'PayableAmount',formatter: "number",sortable:false},
    { name: 'FactReceive', index: 'FactReceive', width: 70, formatter: "number",sortable:false },
    { name: 'DiscountMoney', index: 'DiscountMoney', width: 70, formatter: "number",sortable:false },
    { name: 'OrderStatus', index: 'OrderStatus', width: 70,sortable:false },
    { name: 'CarInTimeStr', index: 'CarInTimeStr', editable: false,sortable:false },
    { name: 'InChannel', index: 'InChannel', editable: false,sortable:false },
    { name: 'CarOutTimeStr', index: 'CarOutTimeStr', editable: false,sortable:false},
    { name: 'OutChannel', index: 'OutChannel', editable: false,sortable:false },
    ],
    viewrecords: true,
    rowNum: 10,
    rowList: [10, 20, 30],
    altRows: true,
    sortname: 'Id',
    sortorder: 'desc',
    loadonce: false,
    jsonReader: {
    repeatitems: false
    },
    toppager: false,
    multiselect: true,
    userDataOnFooter: false,//汇总
    footerrow: false,//汇总
    subGrid: false,
    subGridRowExpanded: function (subgrid_id, row_id) {
    var subgrid_table_id, pager_id;
    subgrid_table_id = subgrid_id + "_t";
    pager_id = "p_" + subgrid_table_id;
    $("#" + subgrid_id).html(
    "<table id='" + subgrid_table_id
            + "' class='scroll'></table><div id='"
            + pager_id + "' class='scroll'></div>");



    jQuery("#" + subgrid_table_id).jqGrid(
    {
    ajaxSelectOptions: { type: "GET", async: false },
    ajaxGridOptions: { type: "POST", async: false },
    url: "../ParkingLot/GetBusinessDetailsPictureList/" + row_id,
    datatype: "json",
    colNames: ['ID', '图片', '上传时间', '照片类型'],
    colModel: [
    { name: "ID", index: "ID", key: true, hidden: true },
    { name: "PicPath", index: "PicPath", formatter: PicFormatter, width: 100 },
    { name: 'CreateTime', index: 'CreateTime', sorttype: "date", editable: false, formatter: 'date', formatoptions: { srcformat: 'Y-m-d  H:i:s', newformat: 'Y-m-d H:i:s' }, width: 180 },
    { name: 'PicTypeName', index: 'PicTypeName' }
    ],
    sortname: 'Id',
    rowNum: 50,
    sortorder: "asc",
    height: 'auto'
    });
    },
    pager: pager_selector,
    //multikey: "ctrlKey",
    multiboxonly: true,
    grouping: false,
    groupingView: {
    },
    postData:
    {
    'PlateNumber': $('#PlateNumber').val(),
    'StartTime': $('#operateDateBegin').val(),
    'EndTime': $('#operateDateEnd').val(),
    'ParkId':$("#ParkId").val(),
    'InChannelId':$("#InChannelId").val(),
    'OutChannelId':$("#OutChannelId").val(),
    'CarType':$("#CarType").val(),
    'filters': null
    },
    loadComplete: function () {
    var table = this;
    setTimeout(function () {
    styleCheckbox(table);
    updateActionIcons(table);
    updatePagerIcons(table);
    enableTooltips(table);
    }, 0);
    afterCompleteFunction();
    }
    });

    function afterCompleteFunction() {
    var count = $(grid_selector).jqGrid("getRowData").length;
    if (count == 0)
    NotifyWarn('暂无数据！');
    var rowDatas = $(grid_selector).jqGrid("getRowData");
    for (var i = 0; rowDatas.length > i; i++) {
    var q = parseFloat(rowDatas[i].Receivable) + parseFloat(rowDatas[i].Prepaid);
    if (parseFloat(rowDatas[i].Receivable) + parseFloat(rowDatas[i].Prepaid) == 0) {

    $("td[title$='" + rowDatas[i].Id + "']").find("td").addClass("SelectBG");
    }
    }
    }



}

@section scriptsbuttonbyself{
    function Status(cellvalue, options)
    {
    if(cellvalue == '正常收费')
    return "<span class='badge badge-info'>正常收费</span>";
    else if(cellvalue == '追缴')
    return "<span class='badge badge-yellow'>追缴</span>";
    else if(cellvalue == '逃逸')
    return "<span class='badge badge-danger'>逃逸</span>";
    else
    return cellvalue;
    }
}


