@using P4.Web.Models
@model InducibleModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = L("ParameterSetting");
    ViewBag.ActiveMenu = "ParameterSetting";
}

@section styles
{
    <link rel="stylesheet" href="~/assets/css/bootstrapSwitch.css" />
}


<!--Tree Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="margin-top:100px; ">
    @*<div class="modal-dialog" role="document">*@
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right"></label>
            <div class="col-sm-9" id="allmap" style="width:800px;height:600px;">
            </div>
        </div>

    @*</div>*@
</div>

<div class="clearfix">
    <div class="pull-left">
        <div id="mySwitch" class="switch has-switch" data-on-label="三级诱导" data-off-label="二级诱导">
            <input checked="" type="checkbox">
        </div>
    </div>
</div>
<div id="SecondInducible" style="display:none;">
    <div class="tabbable">
        @foreach (var inducible in Model.inducibleList.Where(ind => ind.InducibleType == 2))
        {
            var inducibleId = inducible.Id + "_inducible";
            var groupId = inducible.Id + "_group";
            var imgLocal = inducible.Id + "_imglocal";
            var lableX = inducible.Id + "_X";
            var lableY = inducible.Id + "_Y";
            var address = inducible.Id + "_Address";

            <div class="col-sm-4">
                <div class="widget-box">
                    <div class="widget-header">
                        <h4>二级诱导</h4>
                        <span class="widget-toolbar">
                            <a href="javascript:void(0);" onclick="inducible_save(@inducible.Id)" data-action="submit">
                                <i class="icon-ok"></i>
                            </a>
                            <a href="#" data-action="reload">
                                <i class="icon-refresh"></i>
                            </a>
                            <a href="#" data-action="collapse">
                                <i class="icon-chevron-up"></i>
                            </a>

                        </span>
                    </div>

                    <div class="widget-body">

                        <div class="widget-main">

                            <div class="row">
                                <div class="col-xs-8 col-sm-11" style="width:100%">
                                    <div class="input-group" id=@groupId>
                                        <span>诱导名称：&nbsp;&nbsp; </span>
                                        <input type="text" value="@inducible.InducibleName" id="@inducibleId" />

                                        <a class="glyphicon glyphicon-flag btn-lg" href="javascript:void(0);" id=@imgLocal onclick="showMap(this)"></a>
                                        <input style="display:none" id=@address value="@inducible.Address" />
                                        <label style="display:none;" id=@lableX>@inducible.X</label>
                                        <label style="display:none;" id=@lableY>@inducible.Y</label>
                                        <br />
                                        @foreach (var park in inducible.parklist.Reverse())
                                        {
                                            var temp = Model.sensorParkList.FirstOrDefault(s => s.ParkId == park.ParkId);
                                            var emplyBerthsecNum = temp == null ? 0 : temp.EmptyCount;
                                            var selectId = park.Id + "_park";
                                            var numClass = park.ParkId + "_num";
                                            <span style="margin-left:13px;">停车场：</span>
                                            <select style="margin:10px 6px;" id=@selectId>
                                                @foreach (var parkoption in Model.parkList)
                                                {
                                                    if (parkoption.Id == park.ParkId)
                                                    {
                                                        <option value="@parkoption.Id" selected="selected">@parkoption.ParkName</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@parkoption.Id">@parkoption.ParkName</option>
                                                    }
                                                }

                                            </select>

                                            <span style="margin-left:25px;">剩余泊位数:</span><span class=@numClass>@emplyBerthsecNum </span>
                                            <br />
                                        }
                                        @foreach (var ad in inducible.advert)
                                        {
                                            var advertId = inducible.advert.First().Id + "_advert";
                                            var advertClass = inducible.Id + "_advert";
                                            <span>广&nbsp; 告&nbsp; 语：&nbsp;&nbsp; </span>
                                            <textarea style="width:270px;height:50px;" id=@advertId class=@advertClass>@inducible.advert.First().AD</textarea>

                                        }
                                        

                                        @*<label class="col-sm-12 control-label no-padding-right" for="form-field-1">名称：</label>*@
                                        @*<div class="col-sm-9">*@
                                        @*<input type="text" id="HQ" value="" placeholder="诱导名称" class="col-xs-10 col-sm-5" /><br />*@
                                        @*@foreach (var e in Model.inducibleList.Where(i => i.InducibleType == 2))*@



                                        @*</div>*@

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        }

    </div>
</div>
<div id="ThreeInducible">
    <div class="tabbable">
        @foreach (var inducible in Model.inducibleList.Where(i => i.InducibleType == 3))
        {
            var inducibleId = inducible.Id + "_inducible";
            var groupId = inducible.Id + "_group";
            var imgLocal = inducible.Id + "_imglocal";
            var lableX = inducible.Id + "_X";
            var lableY = inducible.Id + "_Y";
            var address = inducible.Id + "_Address";

            <div class="col-sm-4">
                <div class="widget-box">
                    <div class="widget-header">
                        <h4>三级诱导</h4>
                        <span class="widget-toolbar">
                            <a href="javascript:void(0);" onclick="inducible_save(@inducible.Id)" data-action="submit">
                                <i class="icon-ok"></i>
                            </a>
                            <a href="#" data-action="reload">
                                <i class="icon-refresh"></i>
                            </a>

                            <a href="#" data-action="collapse">
                                <i class="icon-chevron-up"></i>
                            </a>
                        </span>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="row">
                                <div class="col-xs-8 col-sm-11" style="width:100%">
                                    <div class="input-group" id=@groupId>
                                        @*<label class="col-sm-12 control-label no-padding-right" for="form-field-1">名称：</label>*@
                                        @*<div class="col-sm-9">*@
                                        @*<input type="text" id="HQ" value="" placeholder="诱导名称" class="col-xs-10 col-sm-5" />*@

                                        <span>诱导名称：&nbsp;&nbsp; </span>
                                        <input type="text" value="@inducible.InducibleName" id=@inducibleId />
                                        <input style="display:none" id=@address value="@inducible.Address" />
                                        <a class="glyphicon glyphicon-flag btn-lg" href="javascript:void(0);" id=@imgLocal onclick="showMap(this)"></a>
                                        @*<img src="~/assets/images/localImg.png" id=@imgLocal onclick="kk(this)"  onmouseout="aa()" />*@
                                        <br />
                                        <label style="display:none;" id=@lableX>@inducible.X</label>
                                        <label style="display:none;" id=@lableY>@inducible.Y</label>
                                        @*<span class='btn btn-success btn-sm tooltip-success' data-rel='popover' data-placement='right' title='<i class="icon-ok green"></i>右侧显示' data-content='显示内容'>Popover on 右侧</span>*@
                                        @foreach (var park in inducible.parklist)
                                        {
                                            var temp = Model.sensorParkList.FirstOrDefault(s => s.ParkId == park.ParkId);
                                            var emplyBerthsecNum = temp == null ? 0 : temp.EmptyCount;
                                            var selectid = park.Id + "_park";
                                            var numClass = park.ParkId + "_num";
                                            <span style="margin-left:13px;">停车场：</span>
                                            <select style="margin:10px 6px;" id=@selectid>
                                                @foreach (var parkoption in Model.parkList)
                                                {
                                                    if (parkoption.Id == park.ParkId)
                                                    {
                                                        <option value="@parkoption.Id" selected="selected">@parkoption.ParkName</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@parkoption.Id">@parkoption.ParkName</option>
                                                    }
                                                }
                                            </select>
                                            <span style="margin-left:25px;">剩余泊位数:</span><span class=@numClass>@emplyBerthsecNum </span>
                                            <br />
                                        }
                                        @foreach (var ad in inducible.advert)
                                        {
                                            var advertId = inducible.advert.First().Id + "_advert";
                                            var advertClass = inducible.Id + "_advert";
                                            <span>广&nbsp; 告&nbsp; 语：&nbsp;&nbsp; </span>
                                            <textarea style="width:270px;height:50px;" id=@advertId class=@advertClass>@inducible.advert.First().AD</textarea>
                                            <br />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section scripts
{
    @*signalr-begin*@
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="../signalr/hubs"></script>
    @*signalr-end*@
    <script type="text/javascript">
        jQuery(function ($) {
            $('[data-rel=tooltip]').tooltip();
            $('[data-rel=popover]').popover({ html: true });
        });


        $(function () {
            var chat = $.connection.chat;
            $.connection.hub.start().done(function () {
                chat.server.userlogin(window.UserName + ' Inducible' + window.TenantId);//注册名称
            });
            //接收车检器状态
            chat.client.CarStatusMessage = function (ParkId, ParkName, Berth, ParkStatus) {

                NotifySuccess(ParkId + '停车场,' + Berth + '泊位,车位状态' + ParkStatus, '诱导消息');
                if (ParkStatus == 1) {
                    var num = $('.' + ParkId + "_num").html();

                    $('.' + ParkId + "_num").html(Number(num) - 1);
                }
                else if (ParkStatus == 0) {
                    var num = $('.' + ParkId + "_num").html();

                    $('.' + ParkId + "_num").html(Number(num) + 1);
                }
            }
        });

    </script>
}

<script type="text/javascript" src="~/assets/js/bootstrapSwitch.js"></script>
<script type="text/javascript">


    $('#mySwitch').on('switch-change', function (e, data) {
        var $el = $(data.el), value = data.value;
        if (value == true) {
            $('#SecondInducible').css('display', 'none');
            $('#ThreeInducible').css('display', 'block');
        }
        else {
            $('#SecondInducible').css('display', 'block');
            $('#ThreeInducible').css('display', 'none');

        }
    });
    function showMap(e) {
        $("#myModal").modal('show');
        $("#myModal").css("display","block");
  
        var inducibleId = e.id.split('_')[0];
        var x = $("#" + inducibleId + "_X").html();
        var y = $("#" + inducibleId + "_Y").html();
        var address=$("#" + inducibleId + "_Address")
        mapIni(inducibleId, x, y,address);
    }
    function inducible_save(id) {

        var Adlist = new Array();        
        $.each($("." + id + "_advert"), function (i, item) {
            var InducibleToAD = new Object();
            InducibleToAD.Id = item.id.split('_')[0];
            InducibleToAD.InducibleId = id;
            InducibleToAD.AD = item.value;

            Adlist.push(InducibleToAD);
        });
        var inducibleModel = new Object();
        inducibleModel.Id = id;
        inducibleModel.InducibleName = $("#" + id + "_group input").val();
        inducibleModel.parklist = new Array();
        inducibleModel.X = $("#" + id + "_X").html();
        inducibleModel.Y = $("#" + id + "_Y").html();
        inducibleModel.Address = $("#" + id + "_Address").val();
        //inducibleModel.X = window.X;
        //inducibleModel.Y = window.Y;
        //inducibleModel.Address = window.Address;
        
        inducibleModel.advert = Adlist;

        $.each($("#" + id + "_group select"), function (i, item) {
            var inducibleToParkDto = new Object();
            inducibleToParkDto.Id = this.id.split('_')[0];
            inducibleToParkDto.InducibleId = id;
            inducibleToParkDto.ParkId = this.options[this.options.selectedIndex].value;;
            inducibleModel.parklist.push(inducibleToParkDto);
        });
        $.ajax({
            type: "POST",
            url: '../InducibleSystem/SaveInducible/',
            //data: { jsonstr: jsonstr },
            data: {
                inducibleDto: inducibleModel
            },
            success: function (data) {
                NotifySuccess('数据保存成功！', '系统消息');
            }, error: function () {

            }
        });

    }

</script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=gomvEhrIsmCOhYbLpVNuQSug"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/CurveLine/1.5/src/CurveLine.min.js"></script>
<script type="text/javascript">

    function mapIni(inducibleId, x, y,address) {
        //window.X = "114.1644";
        //window.Y = "22.572174";
        window.X = x;
        window.Y = y;
        window.Address = address;
        var map = new BMap.Map("allmap");

        map.enableScrollWheelZoom();
        map.enableInertialDragging();
        map.enableContinuousZoom();

        var point = new BMap.Point(116.331398, 39.897445);



        map.centerAndZoom(point, 12); // 初始化地图，设置中心点坐标和地图级别

        var geoc = new BMap.Geocoder();
        var geolocation = new BMap.Geolocation();
        
        var bgreenIcon = new BMap.Icon("../assets/images/bgreenicon.gif", new BMap.Size(35, 60));//二级诱导 绿色

        if (window.X.length > 0 && window.Y.length > 0) {
            var mk = new BMap.Marker(new BMap.Point(window.X, window.Y), {
                enableDragging: true,
                raiseOnDrag: true,
                icon: bgreenIcon
            });
            map.addOverlay(mk);

           

            map.panTo(new BMap.Point(window.X, window.Y));
            mk.addEventListener('dragend', function (e) {
                var pt = e.point;
                geoc.getLocation(pt, function (rs) {
                    var addComp = rs.addressComponents;

                    //$("#Address").val(addComp.province + addComp.city + addComp.district + addComp.street + addComp.streetNumber);
                    window.X = e.point.lng;
                    window.Y = e.point.lat;
                    window.Address = addComp.province + addComp.city + addComp.district + addComp.street + addComp.streetNumber;
                    $("#" + inducibleId + "_Address").val(addComp.province + addComp.city + addComp.district + addComp.street + addComp.streetNumber);
                    $("#" + inducibleId + "_X").html(e.point.lng);
                    $("#" + inducibleId + "_Y").html(e.point.lat);
                });
            })
            var pt = new BMap.Point(window.X, window.Y);
            geoc.getLocation(pt, function (rs) {
                var addComp = rs.addressComponents;
                window.X = rs.point.lng;
                window.Y = rs.point.lat;
                //map.centerAndZoom(point, 12);
                //$("#Address").val(addComp.province + addComp.city + addComp.district + addComp.street + addComp.streetNumber);
            });
        }
        else {
            geolocation.getCurrentPosition(function (r) {
                if (this.getStatus() == BMAP_STATUS_SUCCESS) {
                    var mk = new BMap.Marker(r.point, {
                        enableDragging: true,
                        raiseOnDrag: true
                    });
                    map.addOverlay(mk);
                    map.panTo(r.point);
                    mk.addEventListener('dragend', function (e) {
                        var pt = e.point;
                        geoc.getLocation(pt, function (rs) {
                            var addComp = rs.addressComponents;
                            //$("#Address").val(addComp.province + addComp.city + addComp.district + addComp.street + addComp.streetNumber);


                            window.X = e.point.lng;
                            window.Y = e.point.lat;
                            window.Address = addComp.province + addComp.city + addComp.district + addComp.street + addComp.streetNumber;

                            $("#" + inducibleId + "_Address").val(addComp.province + addComp.city + addComp.district + addComp.street + addComp.streetNumber);

                            $("#" + inducibleId + "_X").html(e.point.lng);
                            $("#" + inducibleId + "_Y").html(e.point.lat);
                        });
                    })

                    var pt = r.point;
                    geoc.getLocation(pt, function (rs) {
                        var addComp = rs.addressComponents;
                        //$("#Address").val(addComp.province + addComp.city + addComp.district + addComp.street + addComp.streetNumber);
                        window.X = r.point.lng;
                        window.Y = r.point.lat;
                        window.Address = addComp.province + addComp.city + addComp.district + addComp.street + addComp.streetNumber;
                        $("#" + inducibleId + "_Address").val(addComp.province + addComp.city + addComp.district + addComp.street + addComp.streetNumber);

                        $("#" + inducibleId + "_X").html(e.point.lng);
                        $("#" + inducibleId + "_Y").html(e.point.lat);
                    });

                }
                else {
                    alert('failed' + this.getStatus());
                }
            }, { enableHighAccuracy: true });
        }
    }


</script>

